<h1>Hello, <strong>Rafal</strong>!</h1>

{{#link-to "notes" (query-params category="null") class="reset-query-param"}}Reset category{{/link-to}}
{{#link-to "notes" (query-params category="jazz")}}Jazz{{/link-to}}
